body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #8ecae6;
}

.game-container {
    text-align: center;
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    background-color: #219ebc;
}
h1{
    border-style: dotted;
    border-color: #023047;
}

.buttons {
    margin: 20px 0;
}

img {
    height: 50%;
    width: 50%;
}

.choice-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
}

.choice-btn img {
    width: 100px;
    height: 100px;
}

.result p {
    font-size: 18px;
    margin: 10px 0;
}

.scoreboard {
    margin-top: 20px;
}

.scoreboard p {
    font-size: 20px;
    margin: 5px 0;
}

.reset-btn {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #037031;
    color: white;
}

.reset-btn:hover {
    background-color: #037031;
}
